* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: url('../Coursework_Repository/game/src/css/spacebg.jpeg');
    height: 100vh;
}

h1 {
    color: white;
    position: absolute;
    left: 26%;
    top: 7cm;
    font-size: 600%;
}

.button {
    background-color: navy;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 37%;
    top: 10cm;
}

.button1 {
    background-color: navy;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 53%;
    top: 10cm;
}


}