* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#rock{
    position: absolute;
    left: -200px;
    /*top: 240px;*/
    width: 100px;
}

#ship {
    position: absolute;
    height: 100px;
    width: 30px;
    /*top: 240px;*/
}

#board {
    background-image: url("../assets/images/spacebg.jpeg");
    /* Set rules to fill background */
    height: 93vh;
    /* Set up proportionate scaling */
    width: 100%;
    /* Set up positioning */
}

#title {
    background-color: rgb(128, 128, 128);
    width: 100%;
    height: 5vh;
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(247, 134, 241);
    width: 100%;
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}