        * {
            margin: 0px;
            padding: 0px;
            font-family: 'Space Mono', monospace;
            /* box-sizing: border-box; */
            /* overflow: hidden; */
        }
        
        #rock {
            position: absolute;
            left: -200px;
            /*top: 240px;*/
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
        }
        
        .ship {
            position: absolute;
            height: 120px;
            width: 50px;
            top: -999px;
            left: -999px;
            position: absolute;
            /*top: 240px;*/
        }
        
        .meteor {
            height: 100px;
            width: 150px;
            top: -999px;
            left: 100%;
            position: absolute;
            transform: scaleX(-1);
            z-index: 1;
        }
        
        #title {
            background-color: rgb(128, 128, 128);
            width: 100%;
            height: 5vh;
            align-content: center;
            align-self: center;
        }
        
        #controlPanel {
            color: blanchedalmond;
            background: black;
            width: 100%;
            align-content: center;
            align-self: center;
            display: flex;
            z-index: 2;
        }
        
        .location {
            color: green;
        }
        
        #score {
            color: blanchedalmond;
            text-align: center;
            font-size: 50px;
        }
        
        #duration {
            color: blue;
        }
        
        #banner {
            width: 100%;
            height: 100vh;
            margin: 0px auto;
            background-color: #000;
            background-image: url("../assets/images/planet2-removebg-preview.png"), url("../assets/images/brightSpace.png");
            background-position: 120% 70px, 0px 0px;
            background-repeat: no-repeat, repeat-x, repeat-x;
            animation: animate-background linear 50s infinite;
            position: fixed;
            /* position: relative; */
        }
        
        #board {
            width: 100%;
            height: 100vh;
        }
        
        @keyframes animate-background {
            from {
                background-position: 120% 70px, 0px 0px;
            }
            to {
                background-position: -20% 70px, -1000px 0px;
            }
        }
        
        #warning {
            width: 40%;
            height: 12%;
            left: 30%;
            top: 10%;
            text-align: center;
            font-size: 1.2vw;
            position: absolute;
            background: black;
            color: blanchedalmond;
            border-radius: 50px;
            visibility: hidden;
            border-style: dashed;
        }
        
        #warning h1 {
            text-decoration: underline;
        }