* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

#rock {
    position: absolute;
    left: -200px;
    /*top: 240px;*/
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

#ship {
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: url('../assets/images/rocket2-removebg-preview.png');
    /*top: 240px;*/
}

#board {
    background-image: url("../assets/images/spacebg.jpeg");
    height: 93vh;
    width: 100%;
}

#title {
    background-color: rgb(128, 128, 128);
    width: 100%;
    height: 5vh;
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(247, 134, 241);
    width: 100%;
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}