* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

#rock {
    position: absolute;
    left: -200px;
    /*top: 240px;*/
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

#ship {
    position: absolute;
    height: 90px;
    width: 50px;
    background-image: url('../assets/images/rocket2-removebg-preview.png');
    /*top: 240px;*/
}

#title {
    background-color: rgb(128, 128, 128);
    width: 100%;
    height: 5vh;
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(247, 134, 241);
    width: 100%;
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#score {
    color: red;
}

#duration {
    color: blue;
}

#board {
    width: 100%;
    height: 99vh;
    margin: 0px auto;
    background-color: #000;
    background-image: url("../assets/images/planet2-removebg-preview.png"), url("../assets/images/scrolling_space.jpg");
    background-position: 120% 70px, 0px 0px;
    background-repeat: no-repeat, repeat-x, repeat-x;
    animation: animate-background linear 50s infinite;
    /* position: relative; */
}

@keyframes animate-background {
    from {
        background-position: 120% 70px, 0px 0px;
    }
    to {
        background-position: -20% 70px, -1000px 0px;
    }
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}


/* creates box  */

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; */
    z-index: 1;
    width: 20px;
    height: 20px;
    padding: 1rem;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*adding lines*/

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */


/* checked lines will rotate 135deg*/

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../assets/images/scrolling_space.jpg); */
    background-image: url("../assets/images/planet2-removebg-preview.png"), url("../assets/images/scrolling_space.jpg");
    background-position: 120% 70px, 0px 0px;
    background-repeat: no-repeat, repeat-x, repeat-x;
    animation: animate-background linear 50s infinite;
}

.overlay {
    width: 100%;
    height: 99vh;
    background-color: #000;
    opacity: .5;
    position: absolute;
}

.menu img {
    opacity: 0.5;
}

.menu-wrap .menu>div {
    /* background: var(--overlay-color); */
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    z-index: 7;
    transition: opacity 0.4s ease;
}


/* Styling list items */

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.07cm;
}


/* styling buttons */

.btn {
    background-color: gray;
    border: solid;
    border-radius: 12px;
    color: white;
    padding: 15px 35px;
    display: inline-block;
    font-size: 20px;
    /* margin: 20px; */
    cursor: pointer;
    /* position: absolute; */
    text-decoration: none;
}


/* .restart {
    position: fixed;
    left: -2px;
} */


/* Styling hyperlinks */

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
    background-color: white;
    color: black;
    transition: 0.6s;
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.1s;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}


/* hover */


/* .intro a:hover {
     background-color: white;
     color: black;
     transition: 0.6s;
 } */


/* button */


/* .button {
     background-color: navy;
     border: solid;
     border-radius: 12px;
     color: white;
     width: 14%;
     top: 50%;
     padding: 15px 15px;
     text-align: center;
     display: inline-block;
     font-size: 17px;
     margin: 4px 2px;
     cursor: pointer;
     position: absolute;
     text-decoration: none;
 } */