* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

#rock {
    position: absolute;
    left: -200px;
    /*top: 240px;*/
    width: 50px;
    height: 50px;
}

#ship {
    position: absolute;
    height: 150px;
    width: 150px;
    /*top: 240px;*/
}

#title {
    background-color: rgb(128, 128, 128);
    width: 100%;
    height: 5vh;
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(247, 134, 241);
    width: 100%;
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}
div#banner{
	width: 100%;
	height: 600px;
	margin: 0px auto;
	background-color: #000;
	background-image: url("../assets/images/planet2-removebg-preview.png"), url("../assets/images/newspace.jpg");
	background-position: 120% 70px, 0px 0px;
	background-repeat: no-repeat, repeat-x, repeat-x;
	animation: animate-background linear 50s infinite;
}
@keyframes animate-background {
	from { background-position: 120% 70px, 0px 0px;  } 
	to { background-position: -20% 70px, -1000px 0px; }
}