* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

header {
    background-image: url('../Coursework_Repository/game/src/css/spacebg.jpeg');
    height: 100vh;
}

h1 {
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    font-size: 600%;
    letter-spacing: 25px;
}

.button {
    background-color: navy;
    border: solid;
    border-radius: 12px;
    color: white;
    width: 14%;
    top: 50%;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
}

.rules {
    left: 32%;
}

.playgame {
    left: 54%;
}

.heading a:hover {
    background-color: white;
    color: black;
    transition: 0.6s;
}