#container {
    width: 600px;
    height: auto;
}


/* .leaderboard {
    background-image: url("../assets/images/planet2-removebg-preview.png"), url("../assets/images/scrolling_space.jpg");
    background-position: 120% 70px, 0px 0px;
    background-repeat: no-repeat, repeat-x, repeat-x;
    animation: animate-background linear 50s infinite;
}

@keyframes animate-background {
    from {
        background-position: 120% 70px, 0px 0px;
    }
    to {
        background-position: -20% 70px, -1000px 0px;
    }
} */

.styled-table {
    border-collapse: collapse;
    margin: 200px 500px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: grey;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid white;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}