/* CSS FILE FOR THE on screen timers */

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 100%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

#divcountdown {
    position: absolute;
    width: 50%;
    height: 30px;
    border: 2px black solid;
    /* background: linear-gradient(to right, #ba1e68, #1d1135, #0c164f, #5643fd); */
    background: linear-gradient(to right, white, blanchedalmond, grey);
    transform: rotate(-90deg);
    top: 50%;
    left: -24%;
    border-radius: 25px;
    z-index: 5;
}

#mytimeleft {
    color: white;
    float: right;
    background: black;
    height: 30px;
    border-radius: 25px;
    z-index: 5;
}

.timerwrapper {
    height: 60px;
    width: 100%;
    background: #484949;
    position: relative;
    margin: auto;
}